<?xml version="1.0"?>

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.webServer>
    <modules>
      <add name="asyncModule" type="AsyncApp.AsyncModule"/>
    </modules>
    <handlers>
      <add name="asyncHandler" type="AsyncApp.AsyncHandler"
          verb="*" path="AsyncHandler"/>
    </handlers>
  </system.webServer>

</configuration>
