<?xml version="1.0"?>

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.webServer>
    <!--<handlers>
      <add name="ExtensionLess" path="*."  verb="*"
          type="PathsAndURLs.ExtensionlessHandler"/>
    </handlers>-->
    <modules>
      <add name="Simple" type="PathsAndURLs.SimpleModule"/>
      <!--<add name="Rewriter" type="PathsAndURLs.PathModule"/>-->      
    </modules>
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="Content/RequestReporter.aspx"/>
      </files>
    </defaultDocument>

  </system.webServer>

</configuration>
