<?xml version="1.0"?>

<configuration>

  <configSections>
    <sectionGroup name="customDefaults" type="ConfigFiles.UserAndPlaceSectionGroup">
      <section name="newUserDefaults" type="ConfigFiles.NewUserDefaultsSection"/>
      <section name="places" type="ConfigFiles.PlacesSection"/>
    </sectionGroup>
  </configSections>

  <customDefaults>
    <newUserDefaults city="Chicago" country="USA" language="English" regionCode="1" />
    <places default="LON" lockElements="remove,clear">
      <add code="NYC" city="New York" country="USA" />
      <add code="LON" city="London" country="UK" />
      <add code="PAR" city="Paris" country="France" />
    </places>
  </customDefaults>



  <connectionStrings>
    <clear/>
    <add name="DefaultConnection" providerName="System.Data.SqlClient"
         connectionString="Data Source=(localdb)\v11.0;Initial Catalog=Membership;Integrated Security=True" />
  </connectionStrings>

  <appSettings configSource="AppSettings.config" />

  <system.web>
    <compilation debug="true" targetFramework="4.5"  />
    <httpRuntime targetFramework="4.5" />
  </system.web>

<location path="Admin/FolderForm.aspx">
  <customDefaults>
    <newUserDefaults language="French" regionCode="2" />
    <places default="NYC">
      <add code="CHI" city="Chicago" country="USA" />
    </places>
  </customDefaults>
</location>

</configuration>