<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="profileDb" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=Aspnetdb;Integrated Security=True"
        providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />

      <profile defaultProvider="profileDb">
        <providers>
          <add name="profileDb" connectionStringName="profileDb" 
               type="System.Web.Profile.SqlProfileProvider"/>         
        </providers>
        <properties>
          <add name="counter" type="int"/>
        </properties>
      </profile>

    <sessionState timeout="60" mode="SQLServer" allowCustomSqlDatabase="true"
                  sqlConnectionString="Data Source=(localdb)\v11.0;Initial Catalog=ASPState;Integrated Security=True" />

    <pages enableViewState="true" enableViewStateMac="true" viewStateEncryptionMode="Auto" />
    
    </system.web>

  <system.webServer>
    <modules>
      <add name="StateModule" type="State.StateModule"/>
    </modules>
  </system.webServer>
  
</configuration>