<?xml version="1.0"?>

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <globalization culture="en-US" uiCulture="en-US"/>
    </system.web>

  <system.webServer>
    <modules>
      <add name="ParamsProtection" type="Events.ParamsModule"/>
      <add name="AverageTime" type="Events.AverageTimeModule"/>
      <add name="Locale" type="Events.LocaleModule"/>
    </modules>
    <handlers>
      <add name="WFHandler" path="*.aspx" verb="*" type="Events.WebFormHandlerFactory"/>
    </handlers>
  </system.webServer>


</configuration>
