<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />

      <caching>
        <cache disableExpiration="false" disableMemoryCollection="false"
               privateBytesLimit="0" privateBytesPollTime="00:01:00"
               percentagePhysicalMemoryUsedLimit="90" />
      </caching>

    </system.web>

  <system.webServer>
    <modules>
      <add name="RequestEventMap" type="Caching.RequestEventMapModule"/>
    </modules>
  </system.webServer>


</configuration>
