<?xml version="1.0"?>

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <system.webServer>
    <modules>
      <add name="TotalTime" type="Handlers.TotalDurationModule"/>
    </modules>
    <handlers>
      <add name="CustomJSON" path="*.json" verb="GET" type="Handlers.CustomHandler"/>
      <add name="CustomText" path="Time.text" verb="*" type="Handlers.CustomHandler"/>
      <add name="InstanceControl" path="*.instance" verb="*"
          type="Handlers.InstanceControlFactory"/>
      <add name="SelectionControl" path="*.select" verb="*"
          type="Handlers.SelectionControlFactory"/>
      <add name="Recycler" path="Recycle" verb="*" type="Handlers.RecyclingFactory"/>
      <add name="SourceView" path="*.aspx" verb="GET" type="Handlers.SourceViewer"/>
    </handlers>
  </system.webServer>

</configuration>
