<?xml version="1.0"?>

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <pages>
      <controls>
        <add tagPrefix="CC" tagName="Calc" src="~/Custom/BasicCalc.ascx"/>
        <add tagPrefix="CC" assembly="Controls" namespace="Controls.Custom"/>
      </controls>
    </pages>

  </system.web>
</configuration>
