body {
    font-family: "Arial";
}

h1.title {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
}

DIV#nav {
    text-align: center;
}

DIV#nav A {
    font: bold 1.1em "Arial Narrow","Franklin Gothic Medium",Arial; display: inline-block;
    color: black; padding: 4px; border: solid medium black;
    text-decoration: none; width: 150px; text-align: center;
}

.adminContent {
    margin: 20px 0;
    border: solid thin black;
    padding: 5px;
}

#ordersCheck {
    font: bold 1.1em "Arial Narrow","Franklin Gothic Medium",Arial;
    margin-top: 10px;
    text-align: center;
}

div.outerContainer {
    text-align: center;
}

table {
    display: inline-block;
    text-align: left;
    margin: 20px 0;
}

table th, table td {
    text-align: left;
    width: 100px;
    padding: 0px 10px;
}

#ordersTable th:nth-last-child(2), #ordersTable td:nth-last-child(2) {
    text-align: right;
}

#productsTable td.description span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 150px;
    display: inline-block;
}

#productsTable td:last-of-type {
    width: 140px;
}

#productsTable input[type=submit] {
    width: 60px;
}

.loginContainer {
    padding: 10px;
    text-align: center;
}

.loginContainer label {
    display: inline-block;
    width: 120px;      
    margin: 5px;
}

.loginContainer input {
    width: 150px;
    margin: 5px;
}

.loginContainer button {
    margin-top: 10px;
}

.error {
    color: red;
    text-align: center;
    margin: 10px;
}

