<?xml version="1.0"?>

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <caching>
      <cache disableExpiration="false" disableMemoryCollection="false"
             privateBytesLimit="0" privateBytesPollTime="00:01:00"
             percentagePhysicalMemoryUsedLimit="90" />
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="standard" varyByParam="none" varyByCustom="formdata"/>
        </outputCacheProfiles>
      </outputCacheSettings>
      <outputCache defaultProvider="custom" enableFragmentCache="true"
             enableOutputCache="true">
        <providers>
          <add name="custom" type="Caching.CustomOutputCache"/>
        </providers>
      </outputCache>
    </caching>
  </system.web>

  <system.webServer>
    <handlers>
      <add name="CachingFactory" path="*.ashx" verb="GET"
     type="Caching.CachingHandlerFactory" />
    </handlers>
    <modules>
      <add name="RequestEventMap" type="Caching.RequestEventMapModule"/>
    </modules>
  </system.webServer>

</configuration>
