#rsvpform label {
    width: 120px;
    display: inline-block;
}

#rsvpform input {
    margin: 2px;
    margin-left: 4px;
    width: 150px;
}

#rsvpform select {
    margin: 2px 0;
    width: 154px;
}

button[type=submit] {
    margin-top: 5px;
}

table, td, th {
    border: thin solid black; border-collapse: collapse; padding: 5px;
    background-color: lemonchiffon; text-align: left; margin: 10px 0;
}
